<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <body>
        <h1> Html Practice Thymeleaf</h1>
        <p>
            Hello World!        
        </p>
        <ul>
              <li>Use ul to make a list element</li>
              <li>Add elements with li</li>  
        </ul>
        
        <h2>table of objects</h2>
        <table>
            <tr>
                <th>object</th>
                <th>width</th>
                <th>length</th>               
            </tr>
            <tr>
                <td> square</td>
                <td> 70</td>
                <td> 200</td>
            </tr>
            <tr>
                <td>laptop</td>
                <td>300</td>
                <td>400</td>
            </tr>
        </table>
    </body>
</html>
