<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            Chose hat
        </title>
    </head>
    <body>
        <h1 th:href="@{/{id}(id=${item.identifier})}" th:text="${item.name}">Item name> </h1>
        <h2 th:href="@{/{id}(id=${item.identifier})}" th:text="${item.type}">item type</h2>
    </body>
</html>
